body{
    color: #333333;
    font-family: 'PT Sans', sans-serif;
}

header{
    position: relative;
}



.sacola{
    background: url("../img/sacola.png") no-repeat top right;
    font-size: 14px;
    padding-right: 35px;
    text-align: right;
    width: 140px;
    padding-top: 8px;
    position: absolute;
    top: 0;
    right: 0;
}

.menu-opcoes{
    position: absolute;
    bottom: 0;
    right: 0;
}

.menu-opcoes ul{
    font-size: 15px;
}

.menu-opcoes a{
    color: #003366;
}

.menu-opcoes ul li{
    display: inline;
    margin-left: 20px;
}

.container{
    margin: 10px auto;
    width: 940px;
    position: relative;
}


.busca,
.menu-departamentos{
    background-color: #dcdcdc;
    font-weight: bold;
    text-transform: uppercase;
    margin-right: 10px;
    width: 230px;
    float: left;
}

.busca{
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

.busca h2,
.busca form,
.menu-departamentos h2{
    margin: 10px;
}

.menu-departamentos{
    clear: left;
    margin-top: 10px;
    padding-bottom: 10px;
}

.menu-departamentos li{
    background-color: white;
    margin-bottom: 1px;
    padding: 5px 10px;
}

.menu-departamentos a{
    color: #333333;
    text-decoration: none;
}

.busca input{
    vertical-align: middle;
}

.busca input[type=search]{
    width: 170px;
}

.destaque{
    margin-top: 10px;
    position: relative;
}

.paineis{
    display: table;
    border-spacing: 10px;
    width: 960px;
}
.painel{
    margin: 10px 0;
    padding: 5px;
    width: 30%;
    border-radius: 4px;
    box-shadow: 1px 1px 4px #999,       
        inset 1px 1px 4px #999;
}

.painel li{
    display: inline-block;
    vertical-align: top;
    width: 140px;
    margin: 2px;
    padding-bottom: 10px;
    -webkit-transition: 0.7s ease-out;
            transition: 0.7s ease-out;
            
    border-radius: 4px;
    box-shadow: 1px 1px 4px #999;
}

.painel li:hover{
    background-color: rgba(255,255,255,0.8);
    box-shadow: 0 0 5px #333;
    -webkit-transition: box-shadow 0.7s;
    transition: box-shadow 0.7s;

    -webkit-transform:  scale(1.2)  ;
    transform:  scale(1.2)  ;
    
      -webkit-transition: 0.7s ease-in;
            transition: 0.7s ease-in;
}

.painel li:nth-child(2n):hover{
    -webkit-transform:  scale(1.2)  ;
    transform:  scale(1.2)  ;
}

.painel h2{
    font-family: 'Bad Script', sans-serif;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 10px;
    /*text-shadow: 3px 3px 3px #fff;*/
    text-shadow: 3px 3px 3px rgba(255,255,255,0.8);
     
}

.painel h2:before{
    content: '\2756';
    padding-right: 5px;
    opacity: 0.4;
}



.painel a{
    color: #333;
    font-size: 14px;
    text-align: center;
    text-decoration: none;
}

.novidades{
    display: table-cell;
    background-color: #f5dcdc;
    background: linear-gradient(#f5dcdc,#bebef4);

}

.mais-vendidos{
    display: table-cell;
    background-color: #dcdcf5;
    background: linear-gradient(#dcdcf5,#f4bebe);
}

.novidades,
.mais-vendidos{
    margin: 10px;
}

/*
#rodape{
    color: #777;
    margin: 30px 0;
    padding: 30px 0;
    clear: left;    
}

#rodape img{
    margin-right: 30px;
    vertical-align: middle;
    width: 94px;
}*/

strong{
    font-weight: bold;
}

.facebook{
    height: 55px;
    width: 85px;
    background-image: url("../img/facebook.png");
    text-indent: -9999px;
}

footer{
    background-image: url("../img/fundo-rodape.png");
    clear: both;
    padding: 20px 0;
    /* padding: 10px calc((100% -940px)/2);
    position: relative;*/
}

footer .container{
    position: relative;
}

footer h1{

}

.social{
    position: absolute;
    top: 12px;
    right: 0;
}

.social li{
    float: left;
    margin-left: 25px;  
}

.social li a {
    height: 32px;
    width: 32px;
    display: block;
    text-indent: -9999px;
}

.social a[href*="facebook.com"]{
    background-image: url("../img/facebook.png");
}

.social a[href*="twitter.com"]{
    background-image: url("../img/twitter.png");
}

.social a[href*="plus.google"]{
    background-image: url("../img/googleplus.png");
}


.pause,
.play{
    display: block;
    position: absolute;
    right: 15px;
    top: 15px;
}

.pause{
    border-left: 10px solid #900;
    border-right:10px solid #900;
    height: 30px;
    width: 5px;
}

.play{
    border-left: 25px solid #900;
    border-bottom: 15px solid transparent;
    border-top: 15px solid transparent;
}

ul li ul {
    display: none;
}

ul li:hover ul{
    display: block;
}

.menu-opcoes a:hover{
    color: #007dc6;
}

.menu-opcoes a:active{
    color: #867dc6;
}

.menu-departamentos li ul{
    display: none;
}

.menu-departamentos li:hover ul{
    display: block;
}

menu-departamentos ul ul li {
    display: block;
}

.menu-departamentos ul ul li a:hover{
    background-color: #dcdcdc;
}

.menu-departamentos li li a:before{
    content: '\272A ';
    padding-right: 3px;
}

.painel button{
    display: none;
}

.painel-compacto li:nth-child(n+7){
    display: none;
}

.painel-compacto button{
    display: block;
}

.painel button{
    float: right;
    margin-right: 10px;
    padding: 10px;
    background-color: #333;
    border: 0;
    border-radius: 4px;
    box-shadow: 1px 1px 3px rgba(30,30,30,0.5);
    color: white;
    font-size: 1em;
    text-decoration: none;
    text-shadow: 1px 0 1px black;
    transition: 0.3s;

    color: white;
    position: relative;
    margin-bottom: 10px;
}




.painel button:hover{
    background-color: #393939;
    box-shadow: 1px 0 20px rgba(200,200,120,0.9);
}


.painel button:after{
    content: '';
    display: block;
    height: 0;
    width: 0;
    
    border-top: 10px solid #333;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    transition: 0.3s;
}


.painel button:hover:after{
    border-top-color: #393939;
}
 