.container{
    width: 96%;
}

header h1{
    text-align: center;
}

header h1 img{
    max-width: 50%;
}

.sacola{
    display: none;
}

.menu-opcoes{
    position: static;
    text-align: center;
}

.menu-opcoes ul li{
    display: inline-block;
    margin: 5px;
}

.busca,
.menu-departamentos,
.destaque img{
    margin-right: 0;
    width: 100%;
}

.painel{
    width: auto;
}

.painel li{
    width: 30%;
}

.painel img{
    width: 100%;
}

.play,
.pause{
    top: auto;
    right: auto;
    left: 10px;
    bottom: 10px;
}


@media(min-width:480px){
    header h1{
        margin: 5px 0;
    }

    .menu-departamentos{
        padding-bottom: 10px;
        margin-bottom: 10px;
    }

    .menu-departamentos nav > ul{
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
    }
}

@media(min-width: 720px){
    header h1{
        text-align: left;
    }

    .menu-opcoes{
        position: absolute;
    }

    .sacola{
        display: block;
    }

    .painel li{
        width: 15%;
    }

    .busca,
    .menu-departamentos{
        margin-right: 1%;
        width: 30%;
    }

    .menu-departamentos nav > ul{
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
    }

    .destaque img{
        width: 69%;
    }
}
