body{
    color: #333333;
    font-family: "Lucida Sans Unicode", "Lucida Grand", sans-serif;
    margin-left: auto;
    margin-right: auto;
   
}

h1{
      padding: 10px;
}

.imagem-fonte-H1{
     background-image: url("../img/sobre-background.jpg");
     font-weight: 900;
}

 

h2{
    border-bottom: 2px solid #333333;
    margin-top: 30px;
    font-weight: 800;
    padding-bottom: 5px;   
}
p {
    padding:  10px 45px;
    text-indent: 15px;
    
}

figure{
    background-color: #F2EDED;
    border: 1px solid #ccc;
    text-align: center;
    padding: 15px;
    margin: 30px;
}

figcaption{
    font-style: italic;
    margin-top: 10px;
}

#centro-distribuicao{
    margin-left: auto;
    margin-right: auto;
    width: 550px;
}


#familia-pelho{
    float: right;
    margin: 0 0 10px 10px;
}


.decoracaoLista{
    list-style:disc;
    padding-top: 10px;
    padding-left: 20px;
}

p:first-letter{
    font-weight: bold;
}

h1 + p{
    text-indent: 0;
}

p:first-line{
    font-variant: small-caps;
}

figcaption{
    color: white;
    background: rgba(0,0,0,0.5);
}